/********** Template CSS **********/
:root {
    --primary: #0D98BA;
    --secondary: #F6F6F6;
    --light: #FFFFFF;
    --dark: #152440;
}

h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
    font-weight: 500 !important;
}

.pt-6 {
    padding-top: 90px;
}

.pb-6 {
    padding-bottom: 90px;
}

.py-6 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.btn {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.top-shape::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 100%;
    top: 0;
    left: -17px;
    background: var(--primary);
    transform: skew(40deg);
}

/*navbar part*/

.navbar-light .navbar-nav .nav-link {
    font-family: 'Barlow', sans-serif;
    padding: 35px 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--dark);
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 15px;
}


.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        padding: 10px 0;
    }
}

/*carousel Part*/

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(21, 36, 64, .7);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

/*events part*/

.blog-item img {
    transition: .5s;
}

.blog-item:hover img {
    transform: scale(1.1);
}

/*sign-up form*/

body
{ 
    font-family: 'Open Sans', sans-serif; 
}        
#signUpForm {
    max-width: 800px;
    background-color: #ffffff;
    margin: 40px auto;padding: 40px;
    box-shadow: 0px 6px 18px rgb(0 0 0 / 9%);
    border-radius: 12px;
}
#signUpForm .form-header {
    gap: 5px;
    text-align: center;
    font-size: .9em;
}#signUpForm .form-header .stepIndicator {
    position: relative;
    flex: 1;
    padding-bottom: 30px;
}
#signUpForm .form-header .stepIndicator.active {
    font-weight: 600;
}
#signUpForm .form-header .stepIndicator.finish {
font-weight: 600;
color: #0D98BA;
}
#signUpForm .form-header .stepIndicator::before{
content: "";
position: absolute;
left: 50%;
bottom: 0;
transform: translateX(-50%);
z-index: 9;
width: 20px;
height: 20px;
background-color: #d5efed;
border-radius: 50%;
border: 3px solid #ecf5f4;
}
#signUpForm .form-header .stepIndicator.active::before {
    background-color: #a7ede8;
    border: 3px solid #d5f9f6;
}
#signUpForm .form-header .stepIndicator.finish::before {
    background-color: #0D98BA;
    border: 3px solid #b7e1dd;
}
#signUpForm .form-header .stepIndicator::after {
    content: "";
    position: absolute;
    left: 50%;bottom: 8px;
    width: 100%;
    height: 3px;
    background-color: #f3f3f3;
}
#signUpForm .form-header .stepIndicator.active::after {
    background-color: #a7ede8;
}
#signUpForm .form-header .stepIndicator.finish::after {
    background-color: #0D98BA;
}
#signUpForm .form-header .stepIndicator:last-child:after {
    display: none;
}
#signUpForm input {
    padding: 15px 20px;
    width: 100%;
    font-size: 1em;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}
#signUpForm input:focus {
    border: 1px solid #0D98BA;
    outline: 0;
}
#signUpForm input.invalid {
    border: 1px solid #ffaba5;
}
#signUpForm .step {
    display: none;
}
#signUpForm .form-footer{
    overflow:auto;
    gap: 20px;
}
#signUpForm .form-footer button{
    background-color: #0D98BA;
    border: 1px solid #0D98BA !important;
    color: #ffffff;
    border: none;
    padding: 13px 30px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    flex: 1;
    margin-top: 5px;
}
#signUpForm .form-footer button:hover {
    opacity: 0.8;
}
#signUpForm .form-footer #prevBtn {
    background-color: #fff;
    color: #0D98BA;
}
input.invalid, select.invalid {
    border: 1px solid red;
}


/*Event Details Section*/

  .testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: start;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next{
    position: relative;
    margin: 0 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f2f2f2;
    background: var(--primary);
    font-size: 22px;
    border-radius: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}

.testimonial-carousel .owl-item img {
    width: 90px;
    height: 90px;
}
/*dropdown list*/
.custom-font {
    font-size: 20px;
    color: #152440;
    font-family: 'Barlow', sans-serif;
}
.custom-font :hover{
    cursor: pointer;
    color: #0D98BA;
}
.custom-dropdown .dropdown-menu {
    border-radius: 1;
    margin-top: -5px;
    animation: fadeInDown 1s;
    border: 1px solid transparent;
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -10px, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
/*partner Section*/
.square-holder {
    padding: 30px;
    border: 1px solid #cecece;
    display: flex;
    flex-direction: column; /* Display children elements in a column */
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #ffffff;
    min-height: 200px;
}

.square-holder img {
    max-width: 100%;
    filter: grayscale(100%);
    transition: all 0.3s;
}

.square-holder:hover img{
    filter: none;
    cursor: pointer;
}

.partner-name {
    margin-top: 10px;
    text-align: center;
    Margin-top: 10px;
    font-size: 25px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    transition: color 0.3s;
}
.partner-name:hover {
    color: black;
    cursor: pointer;
}
label {
    font-weight: 600;
    color: #666;
}
body {
  background: #f1f1f1
}
.box8{
  box-shadow: 0px 0px 5px 1px #999;
  margin-bottom: 10px;
}
.mx-t3{
  margin-top: 30px ;
  margin-bottom: 30px;
}
.form-group {
    margin-bottom: 25px;
  }
  body{ 
    font-family: 'Open Sans', sans-serif; 
  }
